<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/searchAppointment.css">
    <title>Search Appointment</title>
</head>
<body>

    <div class="search-page">
        <div id="pre-search-content">
          <h2>Appointment Search Page</h2>
          <p>Use the search bar above to find appointments by Event Title or return all appointments for a Lecturer.</p>
        </div>
        <form action="/searchAppointments" method="post" id="searchAppointment">
          <input name="search" type="text" id="search" placeholder="Search Appointments">
          <button type="submit">Search</button>
           
          <% if (typeof appointments !== 'undefined' && appointments.length > 0) { %>
            <h3>Search Results:</h3>
            <% appointments.forEach(appointment => { %>
              <div class="appointment-container">
                <div class="individual-appointment">
                  <h4><%= appointment.eventTitle %></h4>
                  <p>Lecturer Name: <%= appointment.lecturerName %></p>
                  <p>Date: <%= appointment.date %></p>
                  <P>Number of Students joined: <%= (20 - appointment.participantCount) %></P>
                  <a class="join-button" aria-current="page" href="/Join?appointmentId=<%= appointment._id %>">Join</a>
                </div>
              </div>
            <% }) %>
          <% } else { %>
            <p></p>
          <% } %>
          

          </form>
    </div>
</body>
</html>